*,html{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 80px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 16px 8px -9px rgba(191,191,191);
}
.logo{
    font-size: 28px;
    font-weight: 600px;
    color: #0b2447;
    padding: 10px 40px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}
.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 40px;
    transition: .2s;
}
.nav-bar ul li a::after{
    display: block;
    content: '';
    border-bottom: 2px solid #fff;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}
.nav-bar ul li a:hover::after{
    transform: scale(1);
}

.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

span{
    color: green;
}
.home{
    text-align: center;
    margin-top: 10px;
}

.home p{
    font-size: 5rem;
}
.img{
margin-left: 360px;
padding: 20px 20px;

}
section{
    border-radius: 10px;
    background-color:orange;
    text-align: center;
    padding: 5px;
}
button{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin: 20px 0px;
    font-weight: bold;
    cursor: pointer;
}
.times{
    font-size: 25px;
    padding: 20px;
}
.references{
   
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.mary{
    color: rgb(8, 222, 8);
}
section a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.time{
    border-radius: 10px;
    border: 2px solid rgb(11, 1, 1);
    width: 270px;
    text-align: center;
    padding: 20px 20px;
    margin-top: 30px;
    background-color: white;
}
.active{
    color: orange;
    font-weight: bold;
}
.time p{
    color: black;
}
.left{
    margin-left: 550px;
    max-width: 310px;
    overflow: hidden;
}
.slider{
    display: flex;
    padding-block: 1rem;
    gap: 1.8rem;
    animation: scroll 40s linear infinite;
}
.slider img{
    height: 150px;
    width: 300px;
}

@keyframes scroll {
    to{
        transform: translate(-245%);
    }
}
.man{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(187, 187, 213);
    border-radius: 10px;
}
.men{
    padding: 20px;
}
body{
   background-color: rgb(240, 234, 234);;
}


@media screen and (max-width:600px){
    .hamburger{
        display : block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 28px;
        height: 3px;
        background-color: #fff;
        margin: 6px 30px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: green;
        transition: .5s;
        overflow: hidden;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 0 auto;
        transition: .5s;
        opacity: 0;
    }
    .nav-bar.active{
        height: 300px;
        background-color: green;
        opacity: 1;
    }
    .nav-bar ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        font-size: 20px;
    }
    .home p{
        font-size: 50px;
        font-weight: bold;
        padding: 100px 20px;
    }
    section a{
        font-size: 15px;
    }
    .left{
        margin-left: 40px;
    }
    .times{
        font-size: 20px;
        padding: 15px;
    }
    .time{
        border-radius: 10px;
        border: 2px solid rgb(11, 1, 1);
        width: 150px;
        text-align: center;
        padding: 10px 10px;
        margin-top: 20px;
        background-color: white;
    }
    .time img{
        height: 130px;
        width: 120px;
    }
    .references{
        padding: 0;
        margin: 0;
    }
}
footer{
    padding: 20px 20px;
    background-color: rgb(69, 68, 68);
    margin-top: 5px;

}
.x{
    display: flex;
    justify-content: space-evenly;
}


.I{
    padding: 20px;
    color: white;
}
.I strong{
    color: rgb(243, 139, 4);
}
.ii{
    padding: 20px;
    color: rgb(166, 166, 166);

}
.ii strong{
    color: white;
}
.ii p a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.iii{
    padding: 20px;
    color: rgb(166, 166, 166);

}
.iii strong{
    color: white;
}
.iii p a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.iv{
    padding: 20px;
    color: rgb(166, 166, 166);

}
.iv strong{
    color: white;
}
.iv a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.vv{ margin-left: 50px;
    padding: 20px;
    color: rgb(166, 166, 166);
}
.vv strong{
    color: white;
}
.vv p a{
    text-decoration: none;
    color: rgb(166, 166, 166);
}
.vi{
    color: rgb(166, 166, 166);
    text-align: center;
}
.vi strong{
    color: white;
}

